!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title briansisney
    = stylesheet_link_tag "application"    
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico' 
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              .masthead-brand 
                -unless current_page? root_path
                  =link_to image_tag('logosmall.gif'), root_url
              %ul.nav.masthead-nav
                %li.active
                  = link_to 'Portfolio', portfolio_path
                %li
                  = link_to 'Blog', blogs_path
                %li
                  =link_to "Resume", href="/briansisney_resume.pdf", :target => "_blank"
          .inner.cover
            = yield
          .mastfoot
            .inner
              %p
                = link_to 'GitHub', "https://github.com/briansisney", :class => "footer", :target => "_blank"
                =" | "
                = link_to 'Twitter', "https://twitter.com/Lebrian", :class => "footer", :target => "_blank"
    = javascript_include_tag "application"

          
